<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h3>Enter your name</h3>
    </section>
    <section>
    
        <section>
    <p>
        <form action >
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>
            <button type="submit"> Submit </button>
        </form>
    </p>
        </section>

    </section> 
 <footer>
<p> This is an intro to form using flask. Thanks for watching. Bye bye</p>
</footer>

</body>
</html>

